
.body {
    color: gray;
    width: 700px;
    margin: 1em auto;
    box-shadow: 0 0 1px gray;
    padding: 20px;
    overflow: hidden;
}

.additionalBlock {
    height: 5em;
    text-align: center;
}

.funcelem, .disabledfunc {
    float: left;
    width: 100px;
    height: 70px;
    box-shadow: 0 0 1px gray;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size:  large;
    color: gray;
    margin: 15px;
    padding: 20px;
}

.disabledfunc {
    text-shadow: 0 0 1px gray;
    background: #eee;
}

.funcelem:hover {
    cursor: pointer;
    background: #eee;
}

.inputext {
    display: inline-block;
    margin: 5px;
    width: 150px;
}

#finput {
    margin: 10px;
}

.filehref, #filehref {
    text-decoration: none;
    border: 1px solid orangered;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    color: orangered;
    display: none;
}

.filehref:hover, #filehref:hover {
    text-shadow: 0 0 1px orangered;
}

#sliceblock, .funcblock {
    display: none;
}

#warnmess {
    color: orangered;
    font-weight: bold;
}
#procmess {
    color: blue;
}

#metaDataBlock #metadata {
    color: black;
    border: dotted 1px black;
    padding: 5px;
}

.activebut {
    cursor: pointer;
    background: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0f0f0f;
    padding: 0.3em;
    margin: 0.1em;
    border-radius: 5px;
    color: #0f0f0f;
    outline: none;

}

.activebut:hover {
    box-shadow: 0 0 1px gray;
}

.activebut:active {
    box-shadow: 0 0 1px gray inset;
}

.activebut:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}

#backbutton {
    display: none;
}