
.func_menu_block {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: gray;
    max-width: 50em;
    margin: 1em auto;
    box-shadow: 0 0 1px gray;
    padding: 1em;
    overflow: hidden;
}

.wrapper {
    color: gray;
    max-width: 50em;
    margin: 1em auto;
    box-shadow: 0 0 1px gray;
    padding: 1em;
    overflow: hidden;
}

.djvu_version {
    position: relative;
    color: gray;
    text-shadow: 0 0 1px lightgray;
    top: 0;
    left: 0;
}

.additionalBlock {
    height: 5em;
    text-align: center;
}

.funcelem, .disabledfunc {
    font-size: 1.1em;
    font-weight: bold; 
    flex: 0 0 auto;
    box-sizing: content-box;
    width: 10em;
    height: 2em;
    box-shadow: 0 0 1px gray;
    text-align: center;   
    color: gray;
    margin: 1em;
    padding: 1em;
}

.disabledfunc {
    text-shadow: 0 0 1px gray;
    background: #eee;
}

.funcelem:hover {
    cursor: pointer;
    background: #eee;
}

.inputext {
    display: inline-block;
    margin: 5px;
    width: 150px;
}

#finput {
    margin: 10px;
}

.filehref, #filehref {
    text-decoration: none;
    border: 1px solid orangered;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    color: orangered;
    display: none;
}

.filehref:hover, #filehref:hover {
    text-shadow: 0 0 1px orangered;
}

#sliceblock, .funcblock {
    display: none;
}

#warnmess {
    color: orangered;
    font-weight: bold;
}
#procmess {
    color: blue;
}

#metaDataBlock #metadata {
    color: black;
    border: dotted 1px black;
    padding: 5px;
}

.activebut {
    cursor: pointer;
    background: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid #0f0f0f;
    padding: 0.3em;
    margin: 0.1em;
    border-radius: 5px;
    color: #0f0f0f;
    outline: none;

}

.activebut:hover {
    box-shadow: 0 0 1px gray;
}

.activebut:active {
    box-shadow: 0 0 1px gray inset;
}

.activebut:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
}

#backbutton {
    display: none;
}

.djvu_viewer {
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px gray;
    margin: 1em auto;
    padding: 1em;
}

.djvu_viewer .controls {
    display: block;
    position: absolute;
    bottom: 0px;
    margin: 1em;
    width: 100%;
    height: 5%;
    text-align: center;
}

.djvu_viewer .controls .scale_label {
    display: inline-block;
    min-width: 3em;
}

.djvu_viewer .scale {
    display: inline-block;
    width: 10em;
}

.image_wrapper {
    overflow: auto;
    height: 95%;
    text-align: center;
}

.djvu_viewer .image {
    margin: 0.5em;
    box-shadow: 0 0 1px lightgray;
}

.djvu_viewer .page_number {
    width: 5em;
}