.head {
    width: 700px;
    margin: 5px auto;  
    box-shadow: 0 0 1px gray;
    padding: 20px;
       
}

.body {
    color: gray;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0 0 1px gray;
    padding: 20px;
    overflow: hidden;
    margin: 5px auto;
}

.funcelem, .disabledfunc {
    float: left;
    width: 100px;
    height: 70px;
    box-shadow: 0 0 1px gray;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size:  large;
    color: gray;
    margin: 15px;
    padding: 20px;
}

.disabledfunc {
    text-shadow: 0 0 1px gray;
    background: #eee;
}

.funcelem:hover {
    cursor: pointer;
    background: #eee;
}

.inputext {
    display: inline-block;
    margin: 5px;
    width: 150px;
}

#sitename:hover {
    cursor: pointer;
    text-shadow: 0 0 1px gray;
}

#finput {
    margin: 10px;
}

.filehref, #filehref {
    text-decoration: none;
    border: 1px solid orangered;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
    color: orangered;
    display: none;
}

.filehref:hover, #filehref:hover {
    text-shadow: 0 0 1px orangered;
}

#sliceblock, #funcblock {
    display: none;
}

#warnmess {
    color: orangered;
    font-weight: bold;
}
#procmess {
    color: blue;
}

#sitemenu a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 1px gray;
    color: gray;
}

#sitemenu a:hover {
    background: #eee;
}