.control_block{
    box-shadow: 0 0 1px gray;
    padding: 0.5em;
    margin: 0.5em;
}

#time_output {
    color: blue;
}

#canvas, #canvas2 {
    box-shadow: 0 0 1px gray;
}
#img {
    box-shadow: 0 0 1px gold;
}
#dochref {
   text-decoration: none;
   border: 1px solid blue;
   padding: 3px;
   margin: 3px;
   border-radius: 5px;
   color: blue;
   display: inline-block;
}

#dochref:hover {
    color: white;
    background: blue;
}

.djvu_viewer {
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px gray;
    margin: 1em auto;
    padding: 1em;
}

.djvu_viewer .controls {
    display: block;
    position: absolute;
    bottom: 0px;
    margin: 1em;
    width: 100%;
    height: 5%;
    text-align: center;
}

.djvu_viewer .controls .scale_label {
    display: inline-block;
    min-width: 3em;
}

.image_wrapper {
    overflow: auto;
    height: 95%;
    text-align: center;
}

.djvu_viewer .image {
    margin: 0.5em;
    box-shadow: 0 0 1px lightgray;
}

.djvu_viewer .page_number {
    width: 5em;
}