doctype
html
  head
    != partial("../_partials/head", {title: "DjVu.js - Открытие и просмотр файлов DjVu онлайн!"})
  body
    header 
        != partial("../_partials/lang_block")
        a(href='./'): div.site_name Библиотека DjVu.js
    nav
        a(href='./') Viewer
        a(href='docs') Документация
        a(href='downloads') Загрузки
        a(href='about') О проекте
        a(href='extension') Расширение
    div.main 
        != yield
    footer
        | DjVu.js 2016 - !{'<script>document.write(new Date().getFullYear())</script>'} | Возможно, все права защищены. 