<h1>Загрузки</h1>

Здесь Вы можете скачать последнюю версию библиотеки и программы-просмотрщика - .js и .css файлы.

<p><a href="/dist/djvu.js" download="djvu.js">Скачать библиотеку DjVu.js (version <%= library_version %>)</a></p>

<p></p><a href="/dist/djvu_viewer.js" download="djvu_viewer.js">Скачать DjVu.js Viewer .js файл (version <%= viewer_version %>)</a></p>

<p></p><a href="/dist/djvu_viewer.css" download="djvu_viewer.css">Скачать DjVu.js Viewer .css файл (version <%= viewer_version %>)</a></p>

<p>
    Также Вы можете ознакомиться с кратким руководством, как подключить DjVu.js Viewer к html странице. 
    Руководство пока что на английском языке <a href="/downloads">на странице загрузок</a>.
</p>