<h1>Загрузки</h1>

Здесь Вы можете скачать последнюю версию библиотеки и программы-просмотрщика - .js и .css файлы.

<p><a href="<%= library_link %>" download="djvu.js">Скачать библиотеку DjVu.js (version <%= library_version %>)</a></p>

<p></p><a href="<%= viewer_js_link %>" download="djvu_viewer.js">Скачать DjVu.js Viewer .js файл (version <%= viewer_version %>)</a></p>

<p>
    Начиная с версии 0.5.0 все стили для DjVu.js Viewer встроен в js файл. Поэтому отдельного css файла больше нет.
</p>
<p>
    Также Вы можете ознакомиться с кратким руководством, как подключить DjVu.js Viewer к html странице.
    Руководство пока что на английском языке <a href="/downloads">на странице загрузок</a>.
</p>

<p>Также можно скачать предыдущие версии <em>предыдущие версии</em> <a href="https://github.com/RussCoder/djvujs/releases">здесь</a>.</p>