!= partial("../_partials/viewer_init")

:markdown
    # DjVu.js Viewer
    DjVu.js - это библиотека написанная на языке JavaScript для работы с файлами `.djvu` онлайн.
    Библиотека работает без всякой связи с сервером - все операции выполняются на клиенте.
    Весь исходный код находится в открытом доступе на [GitHub](https://github.com/RussCoder/djvujs)
    Также был создан DjVu.js Viewer - программа-просмотрщик, которая позволяет открывать файлы `.djvu` онлайн прямо в браузере.
    DjVu.js Viewer написан на ReactJS и использует библиотеку DjVu.js.

    **Обратите внимание, вы можете развернуть приложение на всю страницу, кликнув по ![expand](/img/expand.svg)
    в нижнем правом углу.**

    Здесь вы можете опробовать эту программу загрузив любой `.djvu` файл.
    Если у Вас нет djvu-файла, можно просмотреть один из примеров, кликнув по ссылкам ниже.

!= partial("../_partials/djvu_examples", { open: "Открыть" })

div#for_viewer 