-const title = "DjVu.js - Open and view DjVu online";
doctype
html
    head
        include head
    body
        header
            include lang_block
            a(href='/'): div.site_name DjVu.js program library
        nav
            a(href='/') Viewer
            a(href='/docs') Docs
            a(href='/downloads') Downloads
            a(href='/about') About
            a(href='/extension') Extension
        div.main
            block content
                //- content is a special 11ty variable to designate the place where a template is built into the layout.
                != content
        footer
            | DjVu.js 2016 - !{'<script>document.write(new Date().getFullYear())</script>'} | Perhaps, all rights reserved.