meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="icon" type="image/png" href="/img/djvu.png")

include metrica.html

link(rel="stylesheet" href="/css/main.css")
link(rel="stylesheet" href="/assets/prism.css")
script(src="/js/script.js" defer)
script(src="/assets/prism.js")
title
    != title