script(src=globalData.library_link)
script(src=globalData.viewer_js_link)
script.
    window.addEventListener("load", () => {
        var ViewerInstance = new DjVu.Viewer();
        ViewerInstance.render(document.querySelector("#for_viewer"));

        document.querySelectorAll('a.djvu_example').forEach(link => {
            link.onclick = e => {
                e.preventDefault();
                ViewerInstance.loadDocumentByUrl(link.href);
            };
        })
    });