mixin djvuExamples(openWord)
    div.djvu_examples
        a.djvu_example(href="/assets/djvu_examples/DjVu3Spec.djvu")
            | #{openWord} DjVu3Spec.djvu

        a.djvu_example(href="/assets/djvu_examples/colorbook.djvu")
            | #{openWord} colorbook.djvu

        a.djvu_example(href="/assets/djvu_examples/big-scanned-page.djvu")
            | #{openWord} big-scanned-page.djvu (6780x9148)