<div class="djvu_examples">
    <a href="/assets/djvu_examples/DjVu3Spec.djvu" class="djvu_example">
        <%- open %> DjVu3Spec.djvu
    </a>
    <a href="/assets/djvu_examples/colorbook.djvu" class="djvu_example">
        <%- open %> colorbook.djvu
    </a>
    <a href="/assets/djvu_examples/big-scanned-page.djvu" class="djvu_example">
        <%- open %> big-scanned-page.djvu (6780x9148)
    </a>
</div>