meta(charset="utf-8")

!= partial("metrica")

link(rel="stylesheet" href="/css/main.css?v=1")
link(rel="shortcut icon" href="/img/djvu.png")
link(rel="stylesheet" href="/assets/prism.css")
script(src="/assets/prism.js")
title 
    != title