body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  text-align: justify;
  max-width: 65em;
  margin: 1em auto;
  display: block;
  color: #444;
}

#for_viewer {
  height: 90vh;
  border: 1px solid gray;
}

header {
  text-align: center;
}
header .site_name {
  font-size: 5.5em;
  color: inherit;
}
header a {
  all: initial;
  font: inherit;
  cursor: pointer;
  text-align: center;
}
header .lang_block {
  display: flex;
  justify-content: center;
}
header .lang_block a {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 0.1em;
  margin: 0 0.5em;
  color: darkblue;
  border-bottom: 1px solid transparent;
}
header .lang_block a:hover {
  border-color: darkblue;
}
header .lang_block a img {
  margin-right: 0.1em;
}

nav {
  font-size: 21px;
  display: flex;
  margin: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a {
  font-size: inherit;
  cursor: pointer;
  margin: 0.1em 0.1em;
  padding: 0.3em;
  text-decoration: none;
  color: inherit;
  border: 1px solid #CCC;
  border-radius: 0.5em 0 0.5em 0;
  white-space: nowrap;
}
nav a:hover, nav a.active {
  color: darkblue;
  border-color: darkblue;
}

.main {
  font-size: 20px;
  padding: 0 2em;
}
.main .djvu_examples {
  margin: 1em;
}
.main .djvu_examples a {
  margin: 0 0.5em;
}
.main pre {
  background-color: #EEE;
  padding: 0.5em;
}
.main code {
  color: black;
  font-family: "Consolas", monospace;
}

h1 {
  font-size: 2em;
  border-bottom: #CCC solid 1px;
  padding: 0.3em 0;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

footer {
  margin-top: 1em;
  text-align: center;
  border-top: 1px solid #CCC;
  padding: 1em 0;
}

.main > a, .main > :not(#for_viewer) a {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
  padding: 0.2em;
  border-radius: 3px;
  margin: 0.5em;
  display: inline-block;
  background: #bcdeff;
  padding-left: 1em;
  clip-path: polygon(0 50%, 1em 0, 100% 0, 100% 100%, 0 100%);
}
.main > a:hover, .main > :not(#for_viewer) a:hover {
  transform: translateY(-0.1em);
}
.main > a:active, .main > :not(#for_viewer) a:active {
  text-shadow: 0 0 0.5px black;
}

blockquote {
  font-style: italic;
  border-left: 0.5em solid #CCC;
  padding-left: 1em;
}
