html {
  font-size: 10px;
  height: 100%;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

body {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-family: Arial, "Helvetica", sans-serif;
  text-align: justify;
  max-width: 75em;
  margin: 0 auto;
  color: #444;
}

#for_viewer {
  height: 90vh;
  border: 1px solid gray;
}

header {
  text-align: center;
}
header .site_name {
  font-size: 5rem;
  color: inherit;
}
header a {
  all: initial;
  font: inherit;
  cursor: pointer;
  text-align: center;
}
header .lang_block {
  display: flex;
  justify-content: center;
}
header .lang_block a {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 0.1em;
  margin: 0 0.5em;
  color: darkblue;
  border-bottom: 1px solid transparent;
}
header .lang_block a:hover {
  border-color: darkblue;
}
header .lang_block a img {
  margin-right: 0.1em;
}

nav {
  font-size: 1.5em;
  display: flex;
  margin: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a {
  font-size: inherit;
  cursor: pointer;
  margin: 0.1em 0.1em;
  padding: 0.3em;
  text-decoration: none;
  color: inherit;
  border: 1px solid #CCC;
  border-radius: 0.5em 0 0.5em 0;
  white-space: nowrap;
}
nav a:hover, nav a.active {
  color: darkblue;
  border-color: darkblue;
}

.main {
  font-size: 1.5em;
  padding: 0 2rem;
  margin-bottom: 0.5em;
  --code-background: rgba(175, 184, 193, 0.4);
}
.main img[src$=".svg"] {
  width: 1em;
  margin: 0 0.5em;
  transform: translateY(15%);
}
.main .djvu_examples {
  margin: 1em;
}
.main .djvu_examples a {
  margin: 0 0.5em;
}
.main pre {
  background-color: var(--code-background);
  padding: 0.5em;
}
.main code {
  color: black;
  font-family: "Consolas", monospace;
}
.main code:not(pre code) {
  display: inline-block;
  background: var(--code-background);
  padding: 0.1em 0.4em;
  margin: 0.1em 0;
  font-size: 85%;
  border-radius: 6px;
}

h1 {
  font-size: 3.5rem;
  border-bottom: #CCC solid 1px;
  padding: 0.3em 0;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

footer {
  margin-top: auto;
  text-align: center;
  border-top: 1px solid #CCC;
  padding: 0.5em 0;
  box-sizing: border-box;
}

.main > a, .main > :not(#for_viewer) a {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
  padding: 0.2em;
  border-radius: 3px;
  margin: 0.5em;
  display: inline-block;
  background: #bcdeff;
  padding-left: 1em;
  clip-path: polygon(0 50%, 1em 0, 100% 0, 100% 100%, 0 100%);
}
.main > a:hover, .main > :not(#for_viewer) a:hover {
  transform: translateY(-0.1em);
}
.main > a:active, .main > :not(#for_viewer) a:active {
  text-shadow: 0 0 0.5px black;
}

blockquote {
  font-style: italic;
  border-left: 0.5em solid #CCC;
  padding-left: 1em;
}
