$lineColor: #CCC;
body {
    font-size: 14px;
    font-family: "Helvetica";
    text-align: justify;
    max-width: 65em;
    margin: 1em auto;
    display: block;
    color: #444;
}

#for_viewer {
    height: 90vh;
    border: 1px solid gray;
}

header {
    text-align: center;
    .site_name {
        font-size: 5.5em;
    }

    a {
        all: initial;
        font: inherit;
        cursor: pointer;
        text-align: center;
    }

    .lang_block {
        display: flex;
        justify-content: center;
        a {
            font-size: 1.5em;
            display: flex;
            align-items: center;
            box-shadow: 0 0 1px gray;
            padding: 0.1em;
            margin: 0 0.5em;
            
            img {
                margin-right: 0.1em;
            }
        }
    }
}

nav {
    font-size: 21px;
    display: flex;
    margin: 1em;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
        font-size: inherit;
        cursor: pointer;
        margin: 0.1em 0.1em;
        padding: 0.3em;
        text-decoration: none;
        color: inherit;
        border: 1px solid $lineColor;
        border-radius: 0.3em;
        white-space: nowrap;
        &:hover {
            background: $lineColor;
        }
    }
}

.main {
    font-size: 20px;
    padding: 0 2em;

    .djvu_examples {
        margin: 1em;

        a {
            margin: 0 0.5em;
        }
    }
}

h1 {
    font-size: 2em;
    border-bottom: $lineColor solid 1px;
    padding: 0.3em 0;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

footer {
    margin-top: 1em;
    text-align: center;
    border-top: 1px solid $lineColor;
    padding: 1em 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    border: 1px solid $lineColor;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;

    &:hover {
        background: $lineColor;
    }
}

blockquote {
    font-style: italic;
    border-left: 0.5em solid $lineColor;
    padding-left: 1em;
}