.continuous_image_block {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;

    .complex_image_wrapper {
        flex: 1 1 auto;
        padding: 0.25em 0.5em;
        margin: auto;
    }
} 