.file_block {
    flex: 0 1 auto;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.15em;

    .file_icon {
        flex: 0 0 auto;
        font-size: 1.5em;
    }

    .file_name {
        overflow: hidden;
        flex: 0 1 auto;
        text-align: left;
        text-overflow: ellipsis;
        margin: 0 0.5em;
    }

    &:hover {
        .file_icon {
            transform: scale(1.1)
        }
    }
}