.footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.4em 0;
    align-items: center;

    .file_panel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .status_bar {
        flex: 0 0 auto;
        font-size: 1em;
        padding-left: 0.5em;
        text-align: left;
        font-style: italic;
        align-self: flex-end;
        white-space: nowrap;
        width: 7em;

        .message {
            margin-left: 0.5em;
        }
    }

    .control_button {
        font-size: 1.5em;
    }
}