.image_block {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5em;
    cursor: grab;

    &.grabbing {
        cursor: grabbing;
    }

    .canvas_image {
        margin: auto;
        border: 1px solid lightgray;
    }
}