.initial_screen {
    font-size: 2em;
    text-align: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        max-height: 100%;

        .central {
            margin-bottom: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .options {
            margin: 0;
            margin-right: 0.5em;
            flex: 0 0 auto;
            max-width: 25em;
            float: left;
            border: 2px solid gray;
            border-radius: 0.2em;
            padding: 0.5em;

            .header {
                font-size: 1em;
                font-weight: bold;
                margin: 0.5em 0;
            }

            .option {
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 0.8em;

                input[type=checkbox] {
                    transform: scale(1.5);
                    flex: 0 0 auto;
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 1em; 
                    outline: none;
                }
            }
        }

        .continuous_scroll_button {
            height: 1em;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: nowrap;
            justify-content: center;
            overflow: hidden;
            max-height: 100%;
        }

        .update_message {
            color: brown;
            flex: 1 1;
            min-width: 15em;
        }

        .previous_update_message {
            font-size: 0.5em;
        }

        .file_zone {
            border: 0.1em dashed black;
            background: #DFDFDF;
            padding: 0.5em;
            max-width: 20em;
            min-height: 5em;
            margin: auto;
            border-radius: 0.5em;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .file_icon {
                font-size: 1.5em;
            }

            &:hover {
                .file_icon {
                    transform: scale(1.1);
                }
            }

            &.drag_over {
                background: #EEE;
                box-shadow: 0 0 0.2em gray inset;
            }
        }
    }
}