.left_panel {
    flex: 0 0 auto;
    border: 1px solid gray;
    margin: 0.5em;
    overflow: hidden;
    box-sizing: border-box;
    width: 18%;
    max-width: 90%;
    min-width: 0.4em;

    .content {
        height: 100%;

        .contents_panel {
            padding: 0.5em;
            box-sizing: border-box;
            height: 100%;
            overflow: auto;

            @import "tree_item";

            .header {
                font-size: 1.5em;
                border-bottom: 1px solid gray;
                margin-bottom: 0.5em;
                padding-bottom: 0.2em;
            }

            .no_contents_message {
                font-style: italic;
            }
        }
    }

    .border {
        box-sizing: border-box;
        float: right;
        background: gray;
        width: 0.3em;
        height: 100%;

        &:hover {
            cursor: col-resize;
        }
    }
}