@import "shared_styles";

.modal_window_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .modal_window {
        box-shadow: 0 0 2px black;
        background: white;
        border-radius: 0.5em;
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 90%;
        max-height: 80%;
        z-index: 2;

        &.error {
            background: rgb(255, 209, 212)
        }

        .header {
            text-align: center;
            padding: 0.5em;
            border-bottom: 1px solid gray;

            .close_button {
                @extend .icon_button;
                float: right;
            }
        }

        .body {
            padding: 0.5em;
            overflow: auto;
        }
    }

    .dark_layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: lightgray;
        opacity: 0.5;
        z-index: 1;
    }
}