.rotation_control {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 0.5em;

    .rotation_value { 
        width: 2.5em;
    }

    .rotate_left_button {
        font-size: 1.2em;
        &:hover {
            transform: scale(1.1);
        }
    }

    .rotate_right_button {
        font-size: 1.2em;
        transform: scale(-1, 1);
        &:hover {
            transform: scale(-1.1, 1.1);
        }
    }
}