@import "shared_styles";

html.disable_scroll_djvujs,
body.disable_scroll_djvujs {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}

.djvu_js_viewer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FCFCFC;
    line-height: initial;

    @import "file_loading_screen";
    @import "initial_screen";
    @import "toolbar";
    @import "page_number_block";
    @import "file_block";
    @import "modal_window";
    @import "central_block";
    @import "footer";
    @import "rotation_control";
    @import "error_page";
    @import "loading_layer";
    @import "complex_image";

    .grab {
        cursor: grab;
    }

    .grabbing {
        cursor: grabbing;
    }

    &.full_page_view {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .text_button {
        background: inherit;
        border: 1px solid black;
        border-radius: 3px;
        padding: 0.2em;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 1px black;
        }

        &:focus {
            outline: none;
        }
    }

    .control_button {
        @extend .icon_button;
        margin: 0 0.5em;
    }

    .virtual_list {
        overflow: auto;
        width: 100%;
        height: 100%;

        &>div {
            min-width: 100%;
            position: relative;
        }

        .continuous_scroll_item {
            box-sizing: border-box;
            min-width: 100%;
            padding: 2px 0;
            transform: translate3d(0, 0, 0); // just for performance optimization when continuos mode is enabled
        }
    }
}