.djvu_viewer {

    font-size: 14px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 4px gray;
    box-sizing: border-box;
    padding: 0.5em;
    height: 100%;
    display: flex;
    flex-direction: column;

    .down_panel {
        flex: 0 0 auto;
        border: 1px solid black;
        padding: 0.5em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1em;
        width: 90%;
        height: 1.5em;
        text-align: center;
    }

    .scale_gizmo {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .down_panel {

        .scale_label {
            display: inline-block;
            min-width: 3em;
        }

        .scale {
            display: inline-block;
            width: 10em;
        }
    }

    .image_wrapper {

        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-content: center;
        overflow: auto;
        height: 95%;
        text-align: center;

        .image {
            margin: auto;
            box-shadow: 0 0 1px lightgray;
        }
    }

    .page_number_block {

        margin: 0 0.5em;
        flex: 0 0 auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .page_number {
            flex: 1 1 auto;
            min-width: 1em;
            max-width: 4em;
        }
    }
}