.tree_item {
    display: flex;

    .content {
        .name {
            cursor: pointer;
            margin-left: 0.5em;

            &:hover {
                text-decoration: underline;
            }
        }

        .children {
            padding-left: 0.5em;
        }
    }
}