doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
    link(rel="shortcut icon" href="djvu.png")
    title DjVu.js - View DjVu online!
  body
    header 
        div.site_name DjVu.js program library
    nav
        a(href='./') Viewer
        a(href='https://github.com/RussCoder/djvujs/wiki/DjVu.js-Documentation') Docs
        a(href='about') About
        a(href='https://github.com/RussCoder/djvujs') GitHub
    div.main 
        != yield
    footer
        | DjVu.js 2018 | Perhaps, all rights reserved  