doctype
html
  head
    != partial("_partials/head", {title: "DjVu.js - Open and view DjVu online!"})
  body
    header 
        != partial("/_partials/lang_block")
        a(href='./'): div.site_name DjVu.js program library
    nav
        a(href='./') Viewer
        a(href='docs') Docs
        a(href='downloads') Downloads
        a(href='about') About
        a(href='extension') Extension
    div.main 
        != yield
    footer
        | DjVu.js 2016 - !{'<script>document.write(new Date().getFullYear())</script>'} | Perhaps, all rights reserved.  