doctype
html
  head
    script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47737162 = new Ya.Metrika({
                        id:47737162,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");

    noscript: div: img(src="https://mc.yandex.ru/watch/47737162" style="position:absolute; left:-9999px;" alt="")

    link(rel="stylesheet" href="css/main.css")
    link(rel="shortcut icon" href="djvu.png")
    title DjVu.js - Open and view DjVu online!
  body
    header 
        a(href='./'): div.site_name DjVu.js program library
    nav
        a(href='./') Viewer
        a(href='docs') Docs
        a(href='downloads') Downloads
        a(href='about') About
    div.main 
        != yield
    footer
        | DjVu.js 2018 | Perhaps, all rights reserved  