<h1>Downloads</h1>

Here you can download the library and the viewer .js and .css files.

<p><a href="/dist/djvu.js" download="djvu.js">Download DjVu.js library (version <%= library_version %>)</a></p>

<p></p><a href="/dist/djvu_viewer.js" download="djvu_viewer.js">Download DjVu.js Viewer .js file (version <%= viewer_version %>)</a></p>

<p></p><a href="/dist/djvu_viewer.css" download="djvu_viewer.css">Download DjVu.js Viewer .css file (version <%= viewer_version %>)</a></p>

<%- partial("_how_to_use") %>