html,
body {
    height: 100%;
}

#test_results_wrapper {
    font-family: monospace;
    box-shadow: 0 0 1px lightgray;
    padding: 0.2em;
    margin: 0.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 95%;
    overflow: auto;
}

.test_block {
    box-shadow: 0 0 1px gray;
    padding: 0.5em;
    flex: 0 0 auto;
    width: 25em;
    white-space: normal;
    word-wrap: break-word;
    margin: 0.2em;
}